.carts {
    table {
        border-collapse: collapse;
    }
    
    td {
        padding: 0.5em;
    }
    
    td.quantity {
        white-space: nowrap;
    }

    td.quantity::after {
        content: " ×";
    }

    td.price {
        font-weight: bold;
        text-align: right;
    }

    td.price2 {
        font-weight: bold;
        text-align: right;
        padding-top: 1.5em;
        size: 20em;
        color: green;  
        border-top: solid;    
        border-color: black;    
    }

    tfoot {
        th, th.price {
            font-weight: bold;
            padding-top: 1em;
        }

        th {
            text-align: right;
        }

        th.price {
            border-top: solid thin;
        }
    }
    
    button {
        background-color: #881;
        border-radius: 0.354em;
        border: solid thin #441;
        color: white;
        font-size: 1em;
        padding: 0.354em 1em;
    }

    button:hover {
        background-color: #992;
    }

}
